.navbar{
  background-color: bisque;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
} 

.navbar img{
  height: 35px;
  width: 35px;
  position: absolute;
  right: 90%;
  margin-top: 5px;
}

.navbar a {
  text-decoration: none; 
  color: black;
}

.imgcarrito{
  height: 60px;
  width: 60px ;
  position: absolute;
  left: 95%;
  margin-top: 5px;
}


